@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
header {
    font-family: 'Orbitron';
    margin: auto;
    background-color: blue;
}   
.head {
    left: 80px;
    top: 20px;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.head a {
    text-decoration: none;
    color: #FAC422;
}
.head a:not(:first-child) {
    color: #FFFFFF;
}
.center  {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: -10px;
}
header button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 16px 31px;
    font-family: 'Orbitron';
    background-color: rgba(0, 0, 0, 0);
}
.right_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.section {
    font-family: 'Orbitron';
    display: flex;
}
.img {
    width: 32px;
    height: 32px;
    display: inline;
}
.p_logo {
    color: #57B8FF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 3px;
}
.section h1 {
    font-size: 81px;
    font-weight: 400;
    color: #FFFFFF;
}
.p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}

.chap {
    background-color: black;
    padding-bottom: 100px;
    padding-top: 200px;
    padding-left: 80px;
}
.absolute {
    position: absolute;
    width: 470px;
    height: 16px;
    left: 330px;
    top: 450px;
}
.btn {
    padding: 21px 34px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    margin-top: 50px;
}
.first {
    background-color: #57B8FF;
}
.second {
    background-color: rgba(0, 0, 0, 0);
}
.right {
    padding-top: 200px;
}
.right img {
    width: 700px;
    height: 550px;
    padding-left: 20px;
}
.img_cont {
    display: flex;
}
.chap {
    flex: 1;
    /* background-color: #000000E0; */
}
.right {
    flex: 1;
    background-color: #57B8FF;
}
.section2 {
    background-color: #FDD04A;
}
.textes {
    padding-top: 100px;
    margin: auto;
    width: 600px;
    text-align: center;
}
.textes h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}
.textes p {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
}
.urta {
    margin-left: 70px;
    margin-bottom: 40px;
}
.items {
    width: 190px;
    height: 90px;
    background-color:  rgb(243, 217, 90);
    border-radius: 9px;
    background-color: #FFFFFF4D ;
    position: relative;
}
.ichi {
    width: 90%;
    height: 80%;
    border-radius: inherit;
    background-color: #FFFFFF4D ;
    position: absolute;
    left: 9px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}
.ichi h1 {
    font-size: 25px;
    font-weight: 400;
}
.ichi span {
    font-weight: 700;
}
.section3 {
    background-image: url('images/6745cec7a62b403a4434f07deb0b6c0d1af0db9c.png');
    width: 100%;
    height: 1040px;
}
.iphone {
    padding-top: 100px;
}
.text {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    width: 716px;
    margin: auto;
}
.p_text  {
    width: 700px;
    margin: auto;
    font-size: 20px;
    color: #DFDFDFCC;
    font-weight: 400;
    text-align: center;
    padding-bottom: 80px;
}
.sections {
    width: 670px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.346);
    padding: 36px;
    margin-bottom: 50px;
}
.img_h1 {
    display: flex;
    gap: 20px;
}
.img_h1 h1 {
    
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
}
.img_h1 img {
    width: 32px;
    height: 30px;
}
.sections p {
    font-size: 18px;
    font-weight: 400;
    color: #DFDFDFCC;
    padding-left: 50px;
}
.cont {
    display: flex;
    justify-content: space-between;
}
.section4 {
    background-color: black;
}
.h1_second {
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
}
.black {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.left_black {
    width: 740px;
}
.images1 {
    background-image: url('images/bac_img_1.png');
    flex: 1;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images2 {
    background-image: url('images/bac_img2.png');
    flex: 1;
    height: 740px;
        display: flex;
    align-items: center;
    justify-content: center
}
.images3 {
    background-image: url('images/bac_img_3.png');
    flex: 1;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center
}
.section5 {
    display: flex;
}
.inside {
    text-align: center;
}
.inside img {
    margin-bottom: 10px;
}
.inside h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 50px;
}
.section6 {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}
.img_ {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.header h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
}
.btn4 {
    background-color: #57B8FF;
    width: 175px;
    height: 70px;
    border: none;
}
.button {
    display: flex;
    align-items: end;
    justify-content: end;
}
.full p {
    color: #57B8FF;
    font-size: 18px;
    font-weight: 400;
}
.big-cont h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
}
.big-cont {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 705px;
}
.div2{
    display: flex;
    gap: 30px;
    width: 312px;
    height: 321px;
    flex-direction: column;
    margin-left: 30px;
}
.div2 h2 {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
}
.big_container {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer {
    background-image: url('images/footer.png');
    padding: 100px 0;
}
.end {
    width: 746px;
    text-align: center;
    margin: auto;
    position: relative;
}
.end h1 {
    font-size: 72px;
    text-align: center;
    font-weight: 400;
}
.urta2 {
    width: 430px;
    position: absolute;
    left: 320px;
}
.end p {
    color: #555555;
    font-size: 18px;
    font-weight: 400;
    margin: 70px 0 40px 0;
}
input {
    padding: 20px 150px 20px 20px;
    border: none;
}
.inp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp button {
    border: none;
    padding: 20px 10px;
    background-color: #57B8FF;
    color: #FFFFFF;
}